.header{
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    background-color: white;

    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;

    border-bottom: 1px solid rgba(128, 128, 128, 0.289);
    z-index: 100;

    /* margin-bottom: 20px; */
  
}



.search-bar{
    height: 40px;
    padding: 5px 10px;
    flex: 1;
    font-size: 16px;
    border: 1px solid rgba(114, 113, 113, 0.308);
    box-shadow: inset 1px 2px 3px rgba(128, 128, 128, 0.403);
    /* max-width: 500px; */
    width: 0;
}

.search-bar::placeholder{
    font-family: roboto;
    font-size: 18px;
}


.search-button{
    height: 40px;
    width: 66px;
    border: 1px solid rgba(114, 113, 113, 0.308);
    background-color: rgba(128, 128, 128, 0.172);
    cursor: pointer;
    margin-left: -1px;
    position: relative;
}



.search-button,
.voice-button,
.upload-image-here,
.youtube-apps-here,
.notication-wala-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tool-tip,
.voice-button .tool-tip,
.upload-image-here .tool-tip,
.youtube-apps-here .tool-tip,
.notication-wala-div .tool-tip{
    position: absolute;
    /* top: 50px; */
    bottom: -30px;
    /* right: 2px; */
    font-size: 12px;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
    white-space: nowrap;
 }


 .search-button:hover .tool-tip,
 .voice-button:hover .tool-tip,
 .upload-image-here:hover .tool-tip,
 .youtube-apps-here:hover .tool-tip,
 .notication-wala-div:hover .tool-tip{
    opacity: 1;
 }

 

.search-icon{
    height: 25px;
    margin-top: 4px;
    width: 20px;

}


.voice-button{
    border: none;
    background-color: rgba(215, 214, 214, 0.179);
    height: 40px;
    width: 40px;
    border-radius: 30px;
    margin-left: 10px;
    position: relative;

    
}

.voice-search-icon{
    cursor: pointer;

    width: 25px;
    height: 30px;
    border: none;
    border-radius: 20px;


}




.left-section{
    /* background-color: lightblue; */
    /* width: 150px; */
    display: flex;
    align-items: center;
    /* justify-content:space-around */

}


.middle-section{
    /* background-color: lightpink; */
    flex: 1;
    margin-left: 70px;
    margin-right: 30px;

    max-width: 700px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.right-section{
    /* background-color: lightcoral; */
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
}

.right-img{
    width: 30px;
}

.dog{
    width: 35px;
    height: 35px;
    border-radius: 30px;
    object-fit: cover;
}

.hamburger-menu{
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
    
}

.notication-wala-div{
    position: relative;
}

.notification-number{
    font-size: 10px;
    position: absolute;
    top: 2px;
    right: -1px;
    background-color: rgb(190, 5, 5);
    padding: 3px 5px;
    border-radius: 50px;
    color: white;
}

.youtube-logo{
    height: 20px;
    
}




